# AFL Data Cleaning for Prediction Modeling

### Data found on Kaggle [here](https://www.kaggle.com/datasets/stoney71/aflstats)

In [1]:
import pandas as pd
import numpy as np

#Supresses scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)

import warnings
warnings.filterwarnings('ignore')

In [2]:
games_df = pd.read_csv("games.csv")
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2024 entries, 0 to 2023
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gameId         2024 non-null   object
 1   year           2024 non-null   int64
 2   round          2024 non-null   object
 3   date           2024 non-null   object
 4   venue          2024 non-null   object
 5   startTime      2024 non-null   object
 6   attendance     2024 non-null   int64
 7   homeTeam       2024 non-null   object
 8   homeTeamScore  2024 non-null   int64
 9   awayTeam       2024 non-null   object
 10  awayTeamScore  2024 non-null   int64
 11  rainfall       1993 non-null   float64
dtypes: float64(1), int64(4), object(7)
memory usage: 189.9+ KB

In [3]:
players_df = pd.read_csv("players.csv")
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1495 entries, 0 to 1494
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   playerId     1495 non-null   int64
 1   displayName  1495 non-null   object
 2   height       1495 non-null   int64
 3   weight       1495 non-null   int64
 4   dob          1495 non-null   object
 5   position     1495 non-null   object
 6   origin       1491 non-null   object
dtypes: int64(3), object(4)
memory usage: 81.9+ KB

In [4]:
stats_df = pd.read_csv("stats.csv")
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89470 entries, 0 to 89469
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   89470 non-null  object
 1   team                     89470 non-null  object
 2   year                     89470 non-null  int64
 3   round                    89470 non-null  object
 4   playerId                 89470 non-null  int64
 5   displayName              89470 non-null  object
 6   gameNumber               89470 non-null  int64
 7   Disposals                89470 non-null  int64
 8   Kicks                    89470 non-null  int64
 9   Marks                    89470 non-null  int64
 10  Handballs                89470 non-null  int64
 11  Goals                    89470 non-null  int64
 12  Behinds                  89470 non-null  int64
 13  Hit Outs                 89470 non-null  int64
 14  Tackles                  89470 non-null  int64
 15  Rebounds                 89470 non-null  int64
 16  Inside 50s               89470 non-null  int64
 17  Clearances               89470 non-null  int64
 18  Clangers                 89470 non-null  int64
 19  Frees                    89470 non-null  int64
 20  Frees Against            89470 non-null  int64
 21  Brownlow Votes           89470 non-null  int64
 22  Contested Possessions    89470 non-null  int64
 23  Uncontested Possessions  89470 non-null  int64
 24  Contested Marks          89470 non-null  int64
 25  Marks Inside 50          89470 non-null  int64
 26  One Percenters           89470 non-null  int64
 27  Bounces                  89470 non-null  int64
 28  Goal Assists             89470 non-null  int64
 29  % Played                 89470 non-null  int64
 30  Subs                     45910 non-null  object
dtypes: int64(26), object(5)
memory usage: 21.2+ MB

## Merging dataframes to create a dataframe broken down by player and game

In [5]:
df = stats_df.merge(games_df, how='left', on='gameId')\
             .merge(players_df, how='left', on='playerId')
df

,gameId,team,year_x,round_x,playerId,displayName_x,gameNumber,Disposals,Kicks,Marks,...,homeTeamScore,awayTeam,awayTeamScore,rainfall,displayName_y,height,weight,dob,position,origin
0,2021R104,Adelaide,2021,R1,2021661124,"Berry, Sam",1,8,6,1,...,103,Geelong,91,0.00,"Berry, Sam",181,81,12-Feb-2002,"Midfield, Forward",Gippsland Power
1,2021R104,Adelaide,2021,R1,2012662083,"Brown, Luke",168,5,2,0,...,103,Geelong,91,0.00,"Brown, Luke",181,81,22-Sep-1992,Defender,Norwood
2,2021R104,Adelaide,2021,R1,2020665315,"Butts, Jordon",3,10,5,3,...,103,Geelong,91,0.00,"Butts, Jordon",198,83,31-Dec-1999,Defender,Murray Bushrangers
3,2021R104,Adelaide,2021,R1,2018689604,"Doedee, Tom",31,13,9,4,...,103,Geelong,91,0.00,"Doedee, Tom",188,88,1-Mar-1997,Defender,Geelong Falcons
4,2021R104,Adelaide,2021,R1,2018703883,"Frampton, Billy",9,14,10,8,...,103,Geelong,91,0.00,"Frampton, Billy",200,90,20-Nov-1996,Forward,South Fremantle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89465,2012R2309,Western Bulldogs,2012,R23,2011838967,"Skinner, Zephaniah",8,2,1,1,...,128,Western Bulldogs,61,0.00,"Skinner, Zephaniah",189,79,27-Jun-1989,Forward,-
89466,2012R2309,Western Bulldogs,2012,R23,2012833342,"Smith, Clay",16,22,11,5,...,128,Western Bulldogs,61,0.00,"Smith, Clay",181,85,11-May-1993,Forward,Gippsland Power
89467,2012R2309,Western Bulldogs,2012,R23,2012846405,"Talia, Michael",4,23,14,9,...,128,Western Bulldogs,61,0.00,"Talia, Michael",194,94,11-Feb-1993,Defender,Calder Cannons
89468,2012R2309,Western Bulldogs,2012,R23,2011872415,"Wallis, Mitch",25,19,8,2,...,128,Western Bulldogs,61,0.00,"Wallis, Mitch",186,85,24-Oct-1992,Forward,Calder Cannons
89469,2012R2309,Western Bulldogs,2012,R23,2009879614,"Wood, Easton",42,20,13,11,...,128,Western Bulldogs,61,0.00,"Wood, Easton",187,86,4-Sep-1989,Defender,Camperdown

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89470 entries, 0 to 89469
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   89470 non-null  object
 1   team                     89470 non-null  object
 2   year_x                   89470 non-null  int64
 3   round_x                  89470 non-null  object
 4   playerId                 89470 non-null  int64
 5   displayName_x            89470 non-null  object
 6   gameNumber               89470 non-null  int64
 7   Disposals                89470 non-null  int64
 8   Kicks                    89470 non-null  int64
 9   Marks                    89470 non-null  int64
 10  Handballs                89470 non-null  int64
 11  Goals                    89470 non-null  int64
 12  Behinds                  89470 non-null  int64
 13  Hit Outs                 89470 non-null  int64
 14  Tackles                  89470 non-null  int64
 15  Rebounds                 89470 non-null  int64
 16  Inside 50s               89470 non-null  int64
 17  Clearances               89470 non-null  int64
 18  Clangers                 89470 non-null  int64
 19  Frees                    89470 non-null  int64
 20  Frees Against            89470 non-null  int64
 21  Brownlow Votes           89470 non-null  int64
 22  Contested Possessions    89470 non-null  int64
 23  Uncontested Possessions  89470 non-null  int64
 24  Contested Marks          89470 non-null  int64
 25  Marks Inside 50          89470 non-null  int64
 26  One Percenters           89470 non-null  int64
 27  Bounces                  89470 non-null  int64
 28  Goal Assists             89470 non-null  int64
 29  % Played                 89470 non-null  int64
 30  Subs                     45910 non-null  object
 31  year_y                   89470 non-null  int64
 32  round_y                  89470 non-null  object
 33  date                     89470 non-null  object
 34  venue                    89470 non-null  object
 35  startTime                89470 non-null  object
 36  attendance               89470 non-null  int64
 37  homeTeam                 89470 non-null  object
 38  homeTeamScore            89470 non-null  int64
 39  awayTeam                 89470 non-null  object
 40  awayTeamScore            89470 non-null  int64
 41  rainfall                 88102 non-null  float64
 42  displayName_y            89470 non-null  object
 43  height                   89470 non-null  int64
 44  weight                   89470 non-null  int64
 45  dob                      89470 non-null  object
 46  position                 89470 non-null  object
 47  origin                   89428 non-null  object
dtypes: float64(1), int64(32), object(15)
memory usage: 33.4+ MB

### Storing data for future use

In [7]:
year_list = sorted(list(df['year_x'].unique()))
year_list

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

## Cleaning Data

In [8]:
df['rainfall'] = df['rainfall'].astype(float)
df['rainfall'].loc[df['rainfall'] > 0]

69      4.20
70      4.20
71      4.20
72      4.20
73      4.20
        ...
89443   1.60
89444   1.60
89445   1.60
89446   1.60
89447   1.60
Name: rainfall, Length: 39430, dtype: float64

In [9]:
df['% Played'] = df['% Played'] / 100
df['% Played']

0       0.80
1       0.23
2       0.93
3       0.84
4       0.90
        ...
89465   0.28
89466   0.79
89467   0.88
89468   0.83
89469   0.89
Name: % Played, Length: 89470, dtype: float64

### Converting date and time objects to datetime

In [10]:
df = df[['playerId', 'height', 'weight', 'dob', 'position', 'gameId', 'team',
         'year_x', 'round_x', 'Disposals', 'Kicks', 'Marks', 'Handballs', 
         'Goals', 'Behinds', 'Hit Outs', 'Tackles', 'Rebounds', 'Inside 50s', 
         'Clearances', 'Clangers', 'Frees', 'Frees Against', 'Brownlow Votes', 
         'Contested Possessions', 'Uncontested Possessions', 'Contested Marks', 
         'Marks Inside 50', 'One Percenters', 'Bounces', 'Goal Assists', '% Played',
         'Subs', 'gameNumber',  'date', 'venue', 'startTime', 'attendance',
         'homeTeam', 'homeTeamScore', 'awayTeam', 'awayTeamScore', 'rainfall']]

df.rename({'year_x': 'year', 'round_x': 'round'}, axis=1, inplace=True)

#### Changing month abbreviation to numerical value

In [11]:
date_dict = {'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
             'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'}

In [12]:
dob = df['dob'].str.split('-', expand=True)
dob[1] = dob[1].replace(date_dict)
df['dob'] = dob.apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
df['dob']

0        12-02-2002
1        22-09-1992
2        31-12-1999
3         1-03-1997
4        20-11-1996
            ...
89465    27-06-1989
89466    11-05-1993
89467    11-02-1993
89468    24-10-1992
89469     4-09-1989
Name: dob, Length: 89470, dtype: object

In [13]:
date = df['date'].str.split('-', expand=True)
date[1] = date[1].replace(date_dict)
df['date'] = date.apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
df['date']

0        20-03-2021
1        20-03-2021
2        20-03-2021
3        20-03-2021
4        20-03-2021
            ...
89465    02-09-2012
89466    02-09-2012
89467    02-09-2012
89468    02-09-2012
89469    02-09-2012
Name: date, Length: 89470, dtype: object

In [14]:
df['dob'] = pd.to_datetime(df['dob'], format='%d'+'-'+'%m'+'-'+'%Y')
df['date'] = pd.to_datetime(df['date'], format='%d'+'-'+'%m'+'-'+'%Y')

### Converting startTime to Start Time Hour and Start Time Minute

In [15]:
df['Start Time Hour'] = pd.to_datetime(df['startTime'], format= '%I:%M %p').dt.hour
df['Start Time Minute'] = pd.to_datetime(df['startTime'], format= '%I:%M %p').dt.minute

df.drop('startTime', axis=1, inplace=True)
df[['Start Time Hour', 'Start Time Minute']]

       Start Time Hour  Start Time Minute
0                   16                  5
1                   16                  5
2                   16                  5
3                   16                  5
4                   16                  5
...                ...                ...
89465               16                 40
89466               16                 40
89467               16                 40
89468               16                 40
89469               16                 40

[89470 rows x 2 columns]

### Fixing 'round' column by making Finals rounds numerical

In [16]:
round_list = {'QF': '24', 'SF': '25', 'PF': '26', 'GF': '27', 'EF': '24'}
df['round'] = df['round'].replace(round_list)
df['round'] = df['round'].str.replace('R', '').astype(int)

### Adding 'year+1' column for future indexing

In [17]:
df['year+1'] = df['year'] + 1
df['year+1']

0        2022
1        2022
2        2022
3        2022
4        2022
         ...
89465    2013
89466    2013
89467    2013
89468    2013
89469    2013
Name: year+1, Length: 89470, dtype: int64

### Constructing index

In [18]:
df = df.set_index(['year','round'], append=True)

## Feature Creation
### Age

In [19]:
df.insert(2, 'Age', (df['date'] - df['dob']) / np.timedelta64(1,'Y'))

df.drop('dob', axis=1, inplace=True)

### Total Points Scored

In [20]:
df['Total Points Scored'] = df['Goals'] * 6 + df['Behinds']
df['Total Points Scored']

       year  round
0      2021  1         1
1      2021  1         0
2      2021  1         0
3      2021  1         0
4      2021  1        14
                      ..
89465  2012  23        0
89466  2012  23        0
89467  2012  23        0
89468  2012  23        6
89469  2012  23        0
Name: Total Points Scored, Length: 89470, dtype: int64

### Is Home Team

In [21]:
df['Is Home Team'] = np.where(df['team'] == df['homeTeam'], 1, 0)
df['Is Home Team']

       year  round
0      2021  1        1
1      2021  1        1
2      2021  1        1
3      2021  1        1
4      2021  1        1
                     ..
89465  2012  23       0
89466  2012  23       0
89467  2012  23       0
89468  2012  23       0
89469  2012  23       0
Name: Is Home Team, Length: 89470, dtype: int32

### Opponent Team

In [22]:
df['Opponent Team'] = np.where(df['team'] == df['homeTeam'], df['awayTeam'], df['homeTeam'])

df.drop('awayTeam', axis=1, inplace=True)

### Player Team Score and Opponent Team Score

In [23]:
df['Player Team Score'] = np.where(df['team'] == df['homeTeam'], df['homeTeamScore'], df['awayTeamScore'])
df['Opponent Team Score'] = np.where(df['team'] == df['homeTeam'], df['awayTeamScore'], df['homeTeamScore'])

### Score Margin (from the perspective of each player)

In [24]:
df['Margin'] = np.where(df['Is Home Team'] == 1,
                        df['homeTeamScore'] - df['awayTeamScore'],
                        df['awayTeamScore'] - df['homeTeamScore'])
df['Margin']

       year  round
0      2021  1        12
1      2021  1        12
2      2021  1        12
3      2021  1        12
4      2021  1        12
                      ..
89465  2012  23      -67
89466  2012  23      -67
89467  2012  23      -67
89468  2012  23      -67
89469  2012  23      -67
Name: Margin, Length: 89470, dtype: int64

### Game Result

In [25]:
conditions = [df['Margin'] > 0, df['Margin'] == 0, df['Margin'] < 0]
choices = [1, .5, 0]
df['Game Result'] = np.select(conditions, choices)
df['Game Result']

       year  round
0      2021  1       1.00
1      2021  1       1.00
2      2021  1       1.00
3      2021  1       1.00
4      2021  1       1.00
                     ...
89465  2012  23      0.00
89466  2012  23      0.00
89467  2012  23      0.00
89468  2012  23      0.00
89469  2012  23      0.00
Name: Game Result, Length: 89470, dtype: float64

### Month

In [26]:
df['Month'] = df['date'].dt.month

### Day of year

In [27]:
df['Day of Year'] = df['date'].dt.dayofyear

### Weekday

In [28]:
df['Weekday'] = df['date'].dt.weekday

In [29]:
df.drop('date', axis=1, inplace=True)

### Spliting 'position' into multiple columns

In [30]:
df['position'].unique()

array(['Midfield, Forward', 'Defender', 'Forward', 'Midfield', 'Ruck',
       'Defender, Midfield', 'Forward, Ruck', 'Defender, Forward',
       'Defender, Ruck', 'Midfield, Ruck'], dtype=object)

In [31]:
position_list = ['Midfield', 'Forward', 'Defender', 'Ruck']

for pos in position_list:
    df[f'{pos}'] = np.where(df['position'].str.contains(pos), 1, 0)
    
df.drop('position', axis=1, inplace=True)

df[position_list].sum()

Midfield    31786
Forward     33602
Defender    34426
Ruck         5850
dtype: int64

In [32]:
scale_columns = ['Disposals', 'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit Outs',
                 'Tackles', 'Rebounds', 'Inside 50s', 'Clearances', 'Clangers', 'Frees',
                 'Frees Against', 'Brownlow Votes', 'Contested Possessions', 
                 'Uncontested Possessions', 'Contested Marks', 'Marks Inside 50', 
                 'One Percenters', 'Bounces', 'Goal Assists', 'Total Points Scored']
scaled_column_names = []

In [33]:
for col in scale_columns:
    df[f'{col} Scaled'] = df[col].divide(df['% Played'], axis=0)
    scaled_column_names.append(f'{col} Scaled')

### Shifting (offsetting) and aggregating features

In [34]:
df_final = df.copy()

In [35]:
shift_columns = ['Disposals', 'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit Outs',
                 'Tackles', 'Rebounds', 'Inside 50s', 'Clearances', 'Clangers', 'Frees',
                 'Frees Against', 'Brownlow Votes', 'Contested Possessions', 'Uncontested Possessions',
                 'Contested Marks', 'Marks Inside 50', 'One Percenters', 'Bounces', 'Goal Assists',
                 '% Played', 'Subs', 'venue', 'Player Team Score', 'Opponent Team Score', 'rainfall', 
                 'Margin', 'Total Points Scored', 'Game Result', 'gameNumber', 'Start Time Hour', 
                 'Start Time Minute', 'Month', 'Weekday', 'Day of Year', 'team', 'Opponent Team']

shift_columns = shift_columns + scaled_column_names

average_and_sum_columns = [col for col in shift_columns if col not in ['venue', 'rainfall', 'Subs', 'Opponent Team',
                                                                       'team', 'Start Time Hour', 'Start Time Minute',
                                                                       'Month', 'Weekday', 'Day of Year']]

In [36]:
def offset_function(dataframe, column_list, year_list):
    frame = None
    for col in column_list:
        for i in range(1,6): # Shifting back 1 to 5 games
            for n, year in enumerate(year_list):
                year_df = dataframe.xs(year, level=1, drop_level=False)
                year_df = year_df.sort_index(level=['year', 'round'])
                df_group = year_df.groupby('playerId')[col]
                df_shift = df_group.shift(i)
                if n != 0:
                    df = pd.concat([df, df_shift])
                else:
                    df = df_shift
                    
            df = df.rename(f'{col}_shift_{i}')
            if frame is None:
                frame = df
            else:
                frame = pd.concat((frame, df), axis=1)
    return frame

In [37]:
offset_df = offset_function(df, shift_columns, year_list)
df_final = pd.concat((df_final, offset_df), axis=1)
offset_df

,,,Disposals_shift_1,Disposals_shift_2,Disposals_shift_3,Disposals_shift_4,Disposals_shift_5,Kicks_shift_1,Kicks_shift_2,Kicks_shift_3,Kicks_shift_4,Kicks_shift_5,...,Goal Assists Scaled_shift_1,Goal Assists Scaled_shift_2,Goal Assists Scaled_shift_3,Goal Assists Scaled_shift_4,Goal Assists Scaled_shift_5,Total Points Scored Scaled_shift_1,Total Points Scored Scaled_shift_2,Total Points Scored Scaled_shift_3,Total Points Scored Scaled_shift_4,Total Points Scored Scaled_shift_5
,year,round,,,,,,,,,,,,,,,,,,,,,
80362,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80363,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80364,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80365,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80366,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9517,2021,27,23.00,10.00,28.00,20.00,15.00,13.00,2.00,13.00,10.00,2.00,...,2.53,0.00,1.25,0.00,0.00,10.13,0.00,1.25,8.33,0.00
9518,2021,27,6.00,10.00,10.00,14.00,9.00,2.00,5.00,6.00,8.00,4.00,...,1.69,0.00,1.28,0.00,0.00,10.17,2.63,8.97,7.59,1.25
9519,2021,27,4.00,12.00,10.00,7.00,14.00,3.00,9.00,6.00,5.00,11.00,...,0.00,0.00,2.41,1.39,2.38,17.50,32.00,8.43,18.06,8.33
9520,2021,27,19.00,13.00,13.00,13.00,16.00,16.00,10.00,9.00,8.00,9.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9521,2021,27,16.00,12.00,10.00,13.00,13.00,12.00,9.00,7.00,6.00,9.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [38]:
def window_function(dataframe, column_list, year_list):
    frame = None
    for col in column_list:
        for window_func in ('boxcar', 'exponential', 'triang'):
            for func in ('sum', 'mean'):
                for i in (3, 5): # Rolling window size
                    for n, year in enumerate(year_list):
                        year_df = dataframe.xs(year, level=1, drop_level=False)
                        year_df = year_df.sort_index(level=['year', 'round'])
                        df_group = year_df.groupby('playerId')[col]
                        df_shift = df_group.shift()
                        df_rolling = df_shift.rolling(i, win_type=window_func, min_periods=1)
                        if func == 'sum':
                            df_rolling = df_rolling.sum()
                        elif func == 'mean':
                            df_rolling = df_rolling.mean()
                        
                        if n != 0:
                            df = pd.concat([df, df_rolling])
                        else:
                            df = df_rolling

                    df = df.rename(f'{col}_{window_func}_{func}_{i}')
                    if frame is None:
                        frame = df
                    else:
                        frame = pd.concat((frame, df), axis=1)
    #frame = frame.reset_index('playerId', drop=True)
    return frame

In [39]:
window_df = window_function(df, average_and_sum_columns, year_list)
df_final = pd.concat((df_final, window_df), axis=1)
window_df

,,,Disposals_boxcar_sum_3,Disposals_boxcar_sum_5,Disposals_boxcar_mean_3,Disposals_boxcar_mean_5,Disposals_exponential_sum_3,Disposals_exponential_sum_5,Disposals_exponential_mean_3,Disposals_exponential_mean_5,Disposals_triang_sum_3,Disposals_triang_sum_5,...,Total Points Scored Scaled_boxcar_mean_3,Total Points Scored Scaled_boxcar_mean_5,Total Points Scored Scaled_exponential_sum_3,Total Points Scored Scaled_exponential_sum_5,Total Points Scored Scaled_exponential_mean_3,Total Points Scored Scaled_exponential_mean_5,Total Points Scored Scaled_triang_sum_3,Total Points Scored Scaled_triang_sum_5,Total Points Scored Scaled_triang_mean_3,Total Points Scored Scaled_triang_mean_5
,year,round,,,,,,,,,,,,,,,,,,,,,
80362,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80363,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80364,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80365,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80366,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9517,2021,27,61.00,82.00,20.33,16.40,31.92,36.80,18.39,18.34,38.00,51.00,...,15.78,15.00,22.88,39.41,13.18,19.64,27.99,50.58,14.00,16.86
9518,2021,27,44.00,77.00,14.67,15.40,30.73,34.09,17.70,16.99,33.50,51.00,...,9.65,13.70,17.05,25.74,9.82,12.83,19.53,41.49,9.77,13.83
9519,2021,27,33.00,71.00,11.00,14.20,15.93,34.38,9.18,17.13,19.50,46.00,...,12.60,15.00,20.33,23.28,11.71,11.60,23.98,38.02,11.99,12.67
9520,2021,27,29.00,67.00,9.67,13.40,13.20,20.53,7.60,10.23,16.50,35.33,...,9.22,9.29,21.24,21.50,12.24,10.72,22.58,31.47,11.29,10.49
9521,2021,27,39.00,68.00,13.00,13.60,26.36,18.48,15.19,9.21,29.00,33.67,...,5.83,7.56,6.44,22.61,3.71,11.27,8.75,27.66,4.38,9.22

In [40]:
def current_year_cumulative_function(dataframe, column_list, year_list):
    frame = None
    for col in column_list:
        for func in ['sum', 'max', 'min']:
            for n, year in enumerate(year_list):
                year_df = dataframe.xs(year, level=1, drop_level=False)
                year_df = year_df.set_index('playerId', append=True)
                year_df = year_df.sort_index(level=['year', 'round'])
                df_group = year_df.groupby('playerId')[col]
                if func == 'sum':
                    df_cum = df_group.cumsum()
                elif func == 'max':
                    df_cum = df_group.cummax()
                elif func == 'min':
                    df_cum = df_group.cummin()
                
                df_group_cum = df_cum.groupby('playerId')
                df_shift = df_group_cum.shift()
                    
                if n != 0:
                    df = pd.concat([df, df_shift])
                else:
                    df = df_shift
            df = df.rename(f'{col}_cumulative_{func}')
            if frame is None:
                frame = df
            else:
                frame = pd.concat((frame, df), axis=1)
    frame = frame.reset_index('playerId', drop=True)
    return frame

In [41]:
cumulative_df = current_year_cumulative_function(df, average_and_sum_columns, year_list)
df_final = pd.concat((df_final, cumulative_df), axis=1)
cumulative_df

,,,Disposals_cumulative_sum,Disposals_cumulative_max,Disposals_cumulative_min,Kicks_cumulative_sum,Kicks_cumulative_max,Kicks_cumulative_min,Marks_cumulative_sum,Marks_cumulative_max,Marks_cumulative_min,Handballs_cumulative_sum,...,One Percenters Scaled_cumulative_min,Bounces Scaled_cumulative_sum,Bounces Scaled_cumulative_max,Bounces Scaled_cumulative_min,Goal Assists Scaled_cumulative_sum,Goal Assists Scaled_cumulative_max,Goal Assists Scaled_cumulative_min,Total Points Scored Scaled_cumulative_sum,Total Points Scored Scaled_cumulative_max,Total Points Scored Scaled_cumulative_min
,year,round,,,,,,,,,,,,,,,,,,,,,
80362,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80363,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80364,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80365,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80366,2012,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9517,2021,27,368.00,35.00,10.00,175.00,17.00,2.00,47.00,7.00,0.00,193.00,...,0.00,19.06,6.33,0.00,15.50,2.86,0.00,88.60,24.36,0.00
9518,2021,27,96.00,14.00,6.00,46.00,8.00,2.00,24.00,6.00,0.00,50.00,...,0.00,1.28,1.28,0.00,11.04,3.85,0.00,59.37,15.79,0.00
9519,2021,27,153.00,14.00,4.00,117.00,12.00,3.00,47.00,7.00,0.00,36.00,...,0.00,0.00,0.00,0.00,14.16,4.00,0.00,232.35,33.33,1.27
9520,2021,27,370.00,28.00,11.00,239.00,21.00,6.00,101.00,8.00,1.00,131.00,...,0.00,12.75,3.17,0.00,4.67,2.25,0.00,9.88,7.41,0.00
9521,2021,27,167.00,22.00,1.00,107.00,12.00,1.00,66.00,11.00,0.00,60.00,...,1.18,3.73,2.50,0.00,2.45,1.25,0.00,14.64,7.41,0.00

In [42]:
def previous_year_cumulative_function(dataframe, column_list, year_list):
    df = dataframe.reset_index(['year', 'round'])
    df = df.set_index(['playerId', 'year+1'])
    df_sum = df.groupby(['playerId', 'year+1'])[average_and_sum_columns].sum()
    df_mean = df.groupby(['playerId', 'year+1'])[average_and_sum_columns].mean()
    return df_sum, df_mean

In [43]:
df_sum, df_mean = previous_year_cumulative_function(df, average_and_sum_columns, year_list)

In [44]:
df_final = df_final.reset_index(['year', 'round'])

In [45]:
df_final = df_final.merge(df_sum, how='left', left_on=['playerId', 'year'],
                          right_on=['playerId', 'year+1'], suffixes=('', '_prevous_year_sum'))
df_sum

                    Disposals  Kicks  Marks  Handballs  Goals  Behinds  \
playerId    year+1
1993707514  2013          289    244     88         45      1        2
            2014          198    151     63         47      0        0
            2015          279    198    103         81      1        0
            2016          116     80     35         36      1        1
1996722607  2013          520    285     99        235     35        9
...                       ...    ...    ...        ...    ...      ...
20151001643 2018          265    139     60        126     14        8
            2019          338    232     92        106     48       22
            2020          285    204     81         81     34       22
            2021          135     86     26         49     14       12
            2022          420    251    108        169     23       23

                    Hit Outs  Tackles  Rebounds  Inside 50s  ...  \
playerId    year+1                                           ...
1993707514  2013           0       20        89          20  ...
            2014           0       14        67           8  ...
            2015           0       11        60          21  ...
            2016           0        6        36           5  ...
1996722607  2013           0       47        30          83  ...
...                      ...      ...       ...         ...  ...
20151001643 2018           1       47        10          46  ...
            2019           0       48         9          72  ...
            2020           0       35         3          61  ...
            2021           0       12         5          28  ...
            2022           0       39        24          70  ...

                    Frees Against Scaled  Brownlow Votes Scaled  \
playerId    year+1
1993707514  2013                   10.48                   1.00
            2014                    9.86                   0.00
            2015                   14.49                   0.00
            2016                    3.91                   0.00
1996722607  2013                   21.82                   4.53
...                                  ...                    ...
20151001643 2018                   11.37                   5.90
            2019                   17.91                  14.84
            2020                   20.08                   5.14
            2021                    4.72                   5.62
            2022                   25.10                  10.49

                    Contested Possessions Scaled  \
playerId    year+1
1993707514  2013                           92.51
            2014                           43.23
            2015                           68.71
            2016                           41.29
1996722607  2013                          168.59
...                                          ...
20151001643 2018                          124.74
            2019                          164.73
            2020                          156.31
            2021                           74.51
            2022                          170.91

                    Uncontested Possessions Scaled  Contested Marks Scaled  \
playerId    year+1
1993707514  2013                            177.34                   12.58
            2014                            146.68                    2.17
            2015                            237.03                    3.59
            2016                             94.15                    0.00
1996722607  2013                            423.29                    5.73
...                                            ...                     ...
20151001643 2018                            207.99                    7.15
            2019                            255.87                   21.26
            2020                            191.20                   13.80
            2021                             82.01                    4.46
            2022                            340.14                   10.28

                    Marks Inside 50 Scaled  One Percenters Scaled  \
playerId    year+1
1993707514  2013                      0.00                 124.49
            2014                      0.00                  73.25
            2015                      1.16                 112.55
            2016                      0.00                  58.64
1996722607  2013                     14.84                  32.19
...                                    ...                    ...
20151001643 2018                     13.22                  17.63
            2019                     55.86                  25.95
            2020                     38.42                  16.07
            2021                     11.46                  12.57
            2022                     35.70                  23.23

                    Bounces Scaled  Goal Assists Scaled  \
playerId    year+1
1993707514  2013              0.00                 0.00
            2014              2.16                 1.10
            2015              0.00                 1.19
            2016              0.00                 1.15
1996722607  2013             55.57                20.72
...                            ...                  ...
20151001643 2018              4.82                11.12
            2019             11.05                20.74
            2020              8.83                15.91
            2021              2.28                 4.70
            2022              0.00                15.00

                    Total Points Scored Scaled
playerId    year+1
1993707514  2013                          8.78
            2014                          0.00
            2015                          6.90
            2016                          7.55
1996722607  2013                        249.82
...                                        ...
20151001643 2018                        111.51
            2019                        382.02
            2020                        284.48
            2021                        109.16
            2022                        185.62

[6634 rows x 52 columns]

In [46]:
df_final = df_final.merge(df_mean, how='left', left_on=['playerId', 'year'],
                          right_on=['playerId', 'year+1'], suffixes=('', '_prevous_year_mean'))
df_mean

                    Disposals  Kicks  Marks  Handballs  Goals  Behinds  \
playerId    year+1
1993707514  2013        16.06  13.56   4.89       2.50   0.06     0.11
            2014        15.23  11.62   4.85       3.62   0.00     0.00
            2015        18.60  13.20   6.87       5.40   0.07     0.00
            2016        16.57  11.43   5.00       5.14   0.14     0.14
1996722607  2013        22.61  12.39   4.30      10.22   1.52     0.39
...                       ...    ...    ...        ...    ...      ...
20151001643 2018        18.93   9.93   4.29       9.00   1.00     0.57
            2019        16.10  11.05   4.38       5.05   2.29     1.05
            2020        16.76  12.00   4.76       4.76   2.00     1.29
            2021        13.50   8.60   2.60       4.90   1.40     1.20
            2022        21.00  12.55   5.40       8.45   1.15     1.15

                    Hit Outs  Tackles  Rebounds  Inside 50s  ...  \
playerId    year+1                                           ...
1993707514  2013        0.00     1.11      4.94        1.11  ...
            2014        0.00     1.08      5.15        0.62  ...
            2015        0.00     0.73      4.00        1.40  ...
            2016        0.00     0.86      5.14        0.71  ...
1996722607  2013        0.00     2.04      1.30        3.61  ...
...                      ...      ...       ...         ...  ...
20151001643 2018        0.07     3.36      0.71        3.29  ...
            2019        0.00     2.29      0.43        3.43  ...
            2020        0.00     2.06      0.18        3.59  ...
            2021        0.00     1.20      0.50        2.80  ...
            2022        0.00     1.95      1.20        3.50  ...

                    Frees Against Scaled  Brownlow Votes Scaled  \
playerId    year+1
1993707514  2013                    0.58                   0.06
            2014                    0.76                   0.00
            2015                    0.97                   0.00
            2016                    0.56                   0.00
1996722607  2013                    0.95                   0.20
...                                  ...                    ...
20151001643 2018                    0.81                   0.42
            2019                    0.85                   0.71
            2020                    1.18                   0.30
            2021                    0.47                   0.56
            2022                    1.25                   0.52

                    Contested Possessions Scaled  \
playerId    year+1
1993707514  2013                            5.14
            2014                            3.33
            2015                            4.58
            2016                            5.90
1996722607  2013                            7.33
...                                          ...
20151001643 2018                            8.91
            2019                            7.84
            2020                            9.19
            2021                            7.45
            2022                            8.55

                    Uncontested Possessions Scaled  Contested Marks Scaled  \
playerId    year+1
1993707514  2013                              9.85                    0.70
            2014                             11.28                    0.17
            2015                             15.80                    0.24
            2016                             13.45                    0.00
1996722607  2013                             18.40                    0.25
...                                            ...                     ...
20151001643 2018                             14.86                    0.51
            2019                             12.18                    1.01
            2020                             11.25                    0.81
            2021                              8.20                    0.45
            2022                             17.01                    0.51

                    Marks Inside 50 Scaled  One Percenters Scaled  \
playerId    year+1
1993707514  2013                      0.00                   6.92
            2014                      0.00                   5.63
            2015                      0.08                   7.50
            2016                      0.00                   8.38
1996722607  2013                      0.65                   1.40
...                                    ...                    ...
20151001643 2018                      0.94                   1.26
            2019                      2.66                   1.24
            2020                      2.26                   0.95
            2021                      1.15                   1.26
            2022                      1.78                   1.16

                    Bounces Scaled  Goal Assists Scaled  \
playerId    year+1
1993707514  2013              0.00                 0.00
            2014              0.17                 0.08
            2015              0.00                 0.08
            2016              0.00                 0.16
1996722607  2013              2.42                 0.90
...                            ...                  ...
20151001643 2018              0.34                 0.79
            2019              0.53                 0.99
            2020              0.52                 0.94
            2021              0.23                 0.47
            2022              0.00                 0.75

                    Total Points Scored Scaled
playerId    year+1
1993707514  2013                          0.49
            2014                          0.00
            2015                          0.46
            2016                          1.08
1996722607  2013                         10.86
...                                        ...
20151001643 2018                          7.97
            2019                         18.19
            2020                         16.73
            2021                         10.92
            2022                          9.28

[6634 rows x 52 columns]

## Creating a target feature from AFL Fantasy and Supercoach point values

In [47]:
afl_fantasy_points = {'Kicks': 3,
                      'Marks': 3,
                      'Handballs': 2,
                      'Goals': 6,
                      'Behinds': 1,
                      'Hit Outs': 1,
                      'Tackles': 4,
                      'Frees': 1,
                      'Frees Against': -3}

In [48]:
supercoach_points = {'Kicks': 4,
                     'Handballs': 1.5,
                     'Marks': 6,
                     'Tackles': 4, 
                     'Frees': 4, 
                     'Frees Against': -4, 
                     'Hit Outs': 5, 
                     'Goals': 8, 
                     'Behinds': 1}

In [49]:
from functools import reduce

def get_fantasy_points(dataset, points_dict, column_name):
    fantasy_list = []
    for col_name, pts in points_dict.items():
        col_vals = dataset[col_name] * pts
        fantasy_list.append(col_vals)
    dataset.insert(0, column_name, reduce((lambda x, y: x + y), fantasy_list))
    return dataset

In [50]:
df_final = get_fantasy_points(df_final, afl_fantasy_points, 'AFL Fantasy Points')
df_final = get_fantasy_points(df_final, supercoach_points, 'Supercoach Points')

### Dropping redundant or irrelevant columns

In [51]:
df_final.drop(['homeTeamScore', 'awayTeamScore', 'playerId', 'gameId', 'year+1'], axis=1, inplace=True)

### Dropping columns of data that would be unavailable the day of the game

In [52]:
drop_column_list = ['Disposals', 'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit Outs', 
                   'Tackles', 'Rebounds', 'Inside 50s', 'Clearances', 'Clangers', 'Frees', 
                   'Frees Against', 'Brownlow Votes', 'Contested Possessions', 'Bounces',
                   'Uncontested Possessions', 'Contested Marks', 'Marks Inside 50', 'One Percenters',
                   '% Played', 'Subs', 'Total Points Scored',  'Goal Assists', 'Player Team Score',
                   'Opponent Team Score', 'Margin', 'Game Result', 'attendance', 'rainfall']

df_final.drop(drop_column_list + scaled_column_names, axis=1, inplace=True)

### Normalizing columns by round and by game

In [53]:
exclude_from_normalization = ['year', 'round', 'Is Home Team', 'Month', 'Day of Year', 'Weekday',
                              'Midfield', 'Forward', 'Defender', 'Ruck', 'AFL Fantasy Points', 
                              'Supercoach Points']

normalization_list = [col for col in df_final.select_dtypes(exclude=object).columns 
                      if col not in exclude_from_normalization]

In [54]:
def normalization_func(dataframe, column_list):
    for col in column_list:
        df_round = dataframe.groupby(['year', 'round'])[col]
        dataframe[f'{col}_round_norm'] = df_round.transform(lambda x: (x - min(x))/(max(x)-min(x)))

        df_game = dataframe.groupby(['year', 'round', 'homeTeam'])[col]
        dataframe[f'{col}_game_norm'] = df_game.transform(lambda x: (x - min(x))/(max(x)-min(x)))
    return dataframe

In [55]:
df_final = normalization_func(df_final, normalization_list)
df_final

,Supercoach Points,AFL Fantasy Points,year,round,height,Age,weight,team,gameNumber,venue,...,Marks Inside 50 Scaled_prevous_year_mean_round_norm,Marks Inside 50 Scaled_prevous_year_mean_game_norm,One Percenters Scaled_prevous_year_mean_round_norm,One Percenters Scaled_prevous_year_mean_game_norm,Bounces Scaled_prevous_year_mean_round_norm,Bounces Scaled_prevous_year_mean_game_norm,Goal Assists Scaled_prevous_year_mean_round_norm,Goal Assists Scaled_prevous_year_mean_game_norm,Total Points Scored Scaled_prevous_year_mean_round_norm,Total Points Scored Scaled_prevous_year_mean_game_norm
0,62.00,50,2021,1,181,19.10,81,Adelaide,1,Adelaide Oval,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24.50,21,2021,1,181,28.49,81,Adelaide,168,Adelaide Oval,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,49.50,35,2021,1,198,21.22,83,Adelaide,3,Adelaide Oval,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90.00,65,2021,1,188,24.05,88,Adelaide,31,Adelaide Oval,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,147.00,83,2021,1,200,24.33,90,Adelaide,9,Adelaide Oval,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89465,15.50,12,2012,23,189,23.18,79,Western Bulldogs,8,Gabba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89466,110.50,85,2012,23,181,19.31,85,Western Bulldogs,16,Gabba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89467,131.50,88,2012,23,194,19.56,94,Western Bulldogs,4,Gabba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89468,96.50,77,2012,23,186,19.86,85,Western Bulldogs,25,Gabba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89469,132.50,90,2012,23,187,23.00,86,Western Bulldogs,42,Gabba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# homeTeam is redundant but was needed for the normalization groupby
df_final.drop('homeTeam', axis=1, inplace=True)

### Creating dummies columns and eliminating NaN and infinities

In [57]:
df_final_w_dummies = pd.get_dummies(df_final)

In [58]:
numerical_list = list(df_final_w_dummies.select_dtypes('number').columns)

In [59]:
total_rows = df_final_w_dummies.shape[0]

for col in numerical_list:
    total_nans = df_final_w_dummies[col].isna().sum()
    total_infs = df_final_w_dummies[col].isin([np.inf]).sum()
    total_neg_infs = df_final_w_dummies[col].isin([-np.inf]).sum()
    
    if total_rows in [total_nans, total_infs, total_neg_infs]:
        df_final_w_dummies.drop(col, axis=1, inplace=True)
        continue
    
    if df_final_w_dummies[col].isna().sum() != 0:
        df_final_w_dummies[f'{col}_nan'] = np.where(df_final_w_dummies[col].isna(), 1, 0)
    if df_final_w_dummies[col].isin([np.inf]).sum() != 0:
        df_final_w_dummies[f'{col}_inf'] = np.where(df_final_w_dummies[col].isin([np.inf]), 1, 0)
    if df_final_w_dummies[col].isin([-np.inf]).sum() != 0:
        df_final_w_dummies[f'{col}_neg_inf'] = np.where(df_final_w_dummies[col].isin([-np.inf]), 1, 0)
        
df_final_w_dummies.fillna(0, inplace=True)
df_final_w_dummies.replace(np.inf, 0, inplace=True)
df_final_w_dummies.replace(-np.inf, 0, inplace=True)

In [60]:
df_final_w_dummies.isin([np.inf, -np.inf, np.nan]).sum().where(lambda x: x > 0).dropna()

Series([], dtype: float64)

In [61]:
df_final_w_dummies.shape

(89470, 7443)

### Spliting datasets into train and test for Fantasy and Supercoach

In [62]:
train_df = df_final_w_dummies.loc[~ df_final_w_dummies['year'].isin([2020, 2021])]
test_df = df_final_w_dummies.loc[df_final_w_dummies['year'].isin([2020, 2021])]

In [63]:
y_train_fantasy = train_df['AFL Fantasy Points']
y_test_fantasy = test_df['AFL Fantasy Points']

y_train_super = train_df['Supercoach Points']
y_test_super = test_df['Supercoach Points']


X_train_fantasy = train_df.drop(['AFL Fantasy Points', 'Supercoach Points'], axis=1)
X_test_fantasy = test_df.drop(['AFL Fantasy Points', 'Supercoach Points'], axis=1)

X_train_super = train_df.drop(['AFL Fantasy Points', 'Supercoach Points'], axis=1)
X_test_super = test_df.drop(['AFL Fantasy Points', 'Supercoach Points'], axis=1)

## Creating Random Forest models

In [64]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor

In [65]:
random_grid = {'bootstrap': [True, False],
         'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
         'max_features': ['auto', 'sqrt'],
         'min_samples_leaf': [1, 2, 4],
         'min_samples_split': [2, 5, 10],
         'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [66]:
rf = RandomForestRegressor()

rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,
                               n_iter = 100, cv = 3, verbose=2, random_state=0)

In [ ]:
rf_random.fit(X_train_fantasy, y_train_fantasy)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

In [ ]:
rf_random.best_params_